* {
  box-sizing: border-box;
}
.container {
  margin: 5px;
  border: 1px solid black;
  width: 50vw;
  border-radius: 10px;
}
.Excercise {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  border-radius: 10px;
}
.detail {
  display: flex;
  justify-content: space-between
}